*{
  box-sizing: border-box;
}
.hover a:hover{
  color: #bb974e !important;
  text-decoration: none;
}

.nav-link  {
  color: #767474;
  text-decoration: none;
}
body{
  font-family: 'Montserrat', sans-serif;
   background-color: #f7f7f7;
    min-height: 100%;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
    color: #5d5d5d;
}


div{
  display: block;
}


.collection{
  padding: 12px 20px;
  list-style-type: none;
  
}

.centered {
  color: red;
  position: absolute;
  top: 39%;
  left: 75%;
  transform: translate(-50%, -50%);
  -webkit-animation-name: text; /* for safari */
  -webkit-animation-duration: 4s;/* for safari */
  animation-name: text;
  animation-duration: 4s;
}

@keyframes text {
  0%{   
        bottom: 0px;  
        white-space: nowrap;
        overflow: hidden; 
        width: 0px;
  }
  100% { 
    bottom: 110px; 
    margin-top: 100px; 
  }
}

/* --------------------grid hover---------------------------- */
.main {
  position: relative;
  width: 100%;
  padding: 0px;
}
.image {
  opacity: 1;
  display: block;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.overlay {
  transition: .9s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.wrapper {
  transition: .9s ease;
  opacity: 0;
  position: absolute;
  top: 30%;
  left: 30%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.main:hover .overlay {
  opacity: 1;
}

.main:hover .wrapper {
  opacity: 1;
}

.main:hover .image {
  opacity: 0.3;
}



/* ----------------------------slider button -------------------- */

.slide-btn{
  -moz-border-radius: 0px !important;  /* for mozilla */
  -webkit-border-radius: 0px !important; /* for safari */
  border-radius: 0px !important;  /* IE, Chrome, Opera */
  width: 70%;
  height: auto;
  color: white;
}



/* ========================sidebar======================== */

@media screen and (max-width: 978px  ){
  div.centered h4{
    font-weight: 100;
  }
  .carousel-indicators{
    padding-top: 30px;
  }
}

.carousel-indicators{
  left:67%;
  right:11%;
  width: 20%;
  color: red;
  height: auto;

}
/* -----------------------------------------------end--------------------------------/ */

/* -------------------------------SUBSCRIBE TO OUR NEWSLETTER section------------------------------ */

.input{
  background-color: white;
  height: 20%;
  width: 50%;
}
/* -------------------------------------google map------------------------------------ */
.mapouter{
  position: absolute;;
  width: 100%;
  height: auto;
}
.gmap_canvas {
  overflow:visible;
  background:none!important;
  
}
.box{
  box-shadow: 30%;
  left: 60%;
  top: 76%;
  right: 0px;
  padding: 20px;
  width: 30%;
  height: auto;
  position: absolute;
  z-index: 11px;
  float: left;
  background-color: black;
}

.box h4,p,address{
  font-size: 0px 15px;
  text-align: left;
}
.embed-responsive{
  z-index: -1;
  
}

* {
  box-sizing: border-box;
}
@media screen and (max-width:986px){
  .mapouter{
    width: 0px;
  }
}


@media screen and (max-width:800px) and (min-width:300px ){
  .button{
    visibility: visible;
  }
  .navbar-nav{
    visibility: hidden;
    display: none;
    padding-top: 0px;
    margin: 0px;
    overflow: hidden;
  }

  .box{
    box-shadow: 30%;
    left: 30%;
    top: 94%;
    right: 0px;
    padding: 30px;
    width: 60%;
    height: auto;
    position: absolute;
    z-index: 1px;
    float: left;
    background-color: black;
  }
  #searchbar{
    padding: 18px; 
    margin-top: 45%; 
    width: 70%; 
    margin-left: 90px;
    opacity: 0.5;
  }
  
}
@media screen and (max-width:3035px) and (min-width:900px ){
  .navbar-nav{
    visibility: visible;
  }
  .button{
    visibility: hidden;
  }
  #searchbar{
    padding: 35px; 
    margin-top: 10%; 
    width: 70%; 
    margin-left: 210px;
    opacity: 0.8;

  }
  .box{
    box-shadow: 30%;
    left: 60%;
    top: 76%;
    right: 0px;
    padding: 20px;
    width: 30%;
    height: auto;
    position: absolute;
    z-index: 11px;
    float: left;
    background-color: black;
  }
  
}